@font-face
    font-family 'Press Start 2P'
    font-style normal
    src url('~@/style/fonts/PressStart2P.ttf')
html, body
    padding 0
    margin 0
ul li
    list-style none
a
    text-decoration none